
        .container {
            width: 80%;
            margin: auto;
            padding: 20px;
        }

        .about-text {
            text-align: justify;
            line-height: 1.6;
            margin-bottom: 20px;
        }
       
      

        /* footer */  

       
        
        .container {
          padding: 20px;
        }
        
        footer {
          background-color:rgba(182,49,44,255);
          color: #fefae9;
          padding: 20px;
          text-align: center;
        }
        
        .contact-info {
          max-width: 600px;
          margin: 0 auto;
          text-align: left;
        }
        
        .contact-info h2 {
          color: #fefae9;
          text-decoration: underline;
          font-size: 1.5rem;
          margin-bottom: 10px;
        }
        
        .contact-info p {
          margin: 5px 0;
        }
        @media screen and (max-width: 768px) {
            .image-gallery img {
                width: 45%;
            }
        }
        @media screen and (max-width: 576px) {
            .image-gallery img {
                width: 100%;
            }
        }

        
        
        @media (max-width: 768px) {
          .header {
            padding: 10px; /* Reduce padding */
          }
        }
        
        @media (max-width: 576px) {
          .header h1 {
            font-size: 2rem; /* Reduce font size */
          }
        
          .header h4 {
            font-size: 1.2rem; /* Reduce font size */
          }
        }
