


/* Footer Styles */
footer {
  padding: 50px 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info h2 {
  margin-bottom: 20px;
}

.left-section,
.right-section {
  flex: 1;
  margin-right: 20px;
}

.left-section p {
  margin-bottom: 10px;
}

.right-section textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  color: #7b7777;
  background-color: #021d3f;
}

.right-section textarea {
  height: 100px;
}

.right-section button {
  background-color: #021d3F;
  color: #7b7777;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.mapouter { 
position:relative;
text-align:right;
width:500px;
height:500px;
}
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  width:1200px;
  height:500px;
  }
  .gmap_iframe {
      width:1200px!important;
      height:500px!important;
 }


  
  .container {
    padding: 20px;
  }
  
  .footer {
    background-color:rgba(182,49,44,255);
    color: #fefae9;
    padding: 20px;
    text-align: center;
  }
  
  .contact-info {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
  }
  

  
  .contact-info p {
    margin: 5px 0;
  }
  

  
  @media (max-width: 768px) {
    .header {
      padding: 10px; /* Reduce padding */
    }
  }
  
  @media (max-width: 576px) {
    .header h1 {
      font-size: 2rem; /* Reduce font size */
    }
  
    .header h4 {
      font-size: 1.2rem; /* Reduce font size */
    }
  }
